<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GCDrawBoard.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>18E2B3DA1E31BC4B005BCFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E2B3F31E31BC4B005BCFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>18E2B3FE1E31BC4B005BCFBE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
